 
.chat-header {
    background-color: #075e54;
    color: #ffffff;
    padding: 10px;
  }
  

  .chat-header .whatsapp-icon {
    color: #ffffff;
    margin-right: 10px;
  }
  
  .chat-body {
    background-color: #e5ddd5;
    padding: 10px;
  }
  
  .chet{
    background-color: #dcf8c6;
border: 0.5px solid black;
border-radius: 20px;

  }

  .message {
    background-color: #dcf8c6;
    color: #0d8274;
    padding: 10px;
    margin-bottom: 10px;
  }
  .message-chet{
    color: #888888;
    font-size: 12px;
    text-align: right ;
    margin-right: 2%;;
  }

  .message-text1 {
    margin-right: 2%;;
    text-align: right;
  }
  .message-text2 {
    margin-right: 2%;;
    text-align: right;
  }
  .message-text3 {
    margin-right: 2%;;
    text-align: right;
  }
  .message-text4 {
    margin-right: 2%;;
    text-align: right;
  }
  
  .message-date {
    color: #888888;
    font-size: 12px;
    text-align: left;
    margin-left: 2%;
   
  }
  
  .new-message-input {
    border: none;
    border-top: 1px solid #cccccc;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-shadow: #0d8274;
    text-align: right;
  }
  #v{
    color:#29bbff;
  }